<div>
<nb-card>
    <nb-card-header>Enter your chart title
     <!-- <div>
      <button  type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button></div>-->
    </nb-card-header>
    <nb-card-body>
      <input #title nbInput placeholder="title" >
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-danger" nbButton status="danger"  (click)="cancel()">Cancel</button>
      <button class="btn btn-success" nbButton status="success" (click)="submit(title.value)">Save</button>
    </nb-card-footer>
</nb-card>
</div> 